*{
  margin:0;
  padding:0;
}
html,body{
    font-family: '微软雅黑';
}
a{
  text-decoration: none;
  color:#000;
}
img{
  display: block;
}
li{
  list-style: none;
}
.App {
  text-align: center;
}
.userCenter{
    width:1180px;
    min-height:800px;
    margin:0 auto;
    background: #fff!important;
}
.active{
    color:#0089dc;
}
