*{
  margin:0;
  padding:0;
}
html,body{
    font-family: '微软雅黑';
}
a{
  text-decoration: none;
  color:#000;
}
img{
  display: block;
}
li{
  list-style: none;
}
.search{
  width:1180px;
  margin: 0 auto;
  height:54px;
}
.seach-l{
  float:left;
  width: auto;
  line-height: 54px;
  font-size: 12px;
  height:54px;
}
.seach-l span{
  overflow: hidden;
  float: left;
}
.seach-l span:nth-child(1){
  color: #999;
  margin-right: 5px;
}
.address{
  display: inline-block;
  max-width: 138px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tapaddress a{
  color: #0089dc;
}
.search-r{
  float:right;
}
.place-search{
  margin: 10px 0;
  height: 32px;
  border: 1px solid #ccc;
  background: #fff;
  float: right;
}
.place-search-btn, .place-search-input {
  padding: 0 8px;
  margin: 4px 0;
  line-height: 24px;
}
.place-search-input{
  width: 236px;
  border: 0;
  outline: 0;
  transition: width .3s ease-in-out;
}
.place-search-btn{
  float: right;
  width: 26px;
  text-align: center;
  color: #999;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: 0;
  background-color: transparent;
}
.place-search-btn span{
  text-align: center;
  font-style: normal;
  font-weight: 400;
}
.place-search-input:active{
  width:350px;
}
.place-search-input:hover{
  width:350px;
}
/*卡通图片*/
.place-tab{
  width:1180px;
  height:49px;
  margin:0 auto;
}
.place-tab img{
  display: block;
  float: right;
}