*{
  margin:0;
  padding:0;
}
html,body{
    font-family: '微软雅黑';
}
a{
  text-decoration: none;
  color:#000;
}
img{
  display: block;
}
li{
  list-style: none;
}
i{font-style: normal}
.box{
  width:1180px;
  margin-top: 20px!important;
  background: #fff;
  margin:0 auto;
  height:auto!important;
  min-height: 200px;
  border: 1px solid #e6e6e6;
  padding-bottom: 20px;
}
.box-list{
  width:1180px;
}
.clearfix:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.rstblock {
  width: 25%;
  display: block;
  float: left;
  position: relative;
}
.rstblock-logo {
  padding: 20px;
  color: #999;
  text-align: center;
  float: left;
  font-size: 12px;
  position: relative;
  color: #999;
  text-align: center;
}
.rstblock-logo-icon{
  display: block;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}
.rstblock-logo-premiumsign {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 40px;
  z-index: 1;
  background-position: 4px -487px;
}
.rstblock-content {
  padding: 20px;
  overflow-x: hidden;
  padding-left: 0;
}
.rstblock-title {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  text-align: left;
}
.starrating {
  color: #ccc;
  text-align: left;
}
.rstblock-monthsales {
  color: #999;
  margin-left: 10px;
  font-size:12px;
}
.rstblock-cost {
  color: #999;
  margin-top: 3px;
  font-size:12px;
  text-align: left;
}
.rstblock-activity {
  margin-top: 9px;
  text-align: left;
}
.rstblock-activity i {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-style: normal;
  font-size: 12px;
  line-height: 17px;
  overflow: hidden;
  text-align: center;
  width: 18px;
  border-radius: 2px;
  margin-right: 3px;
  padding: 1px;
  background-color: #f63;
  white-space: nowrap;
  background:#fff;
  color:#999999;
  border:1px solid;
}
.mycolor{
  background: #57A9FF!important;
  color:#fff!important;
}
span.fa-star{
  color: #ffc30c;
  white-space: nowrap;
  font-size: 10px;
  margin-right:0;
}
.pop{
  width:93%;
  background:#fff;
  position: absolute;
  left:100%;
  top:0;
  z-index: 9999;
  border:2px solid #eee;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  display:none;
  box-sizing: border-box;
  padding: 0 4%;
  padding-right: 3%;
}

.rstblock:hover{
  background: #eee;
}
.rstblock:hover .pop{
  display: block!important;
}
.pop-title{
  text-align: left;
  border-bottom:1px solid #eee;
  line-height:50px;
}
.icon{
  text-align: left;
    color: #666;
    font-size: 12px;
}
.icon i{
  display: inline-block;
  font-style: normal;
  font-size: 12px;
  color: #fff;
  line-height: 17px;
  text-align: center;
  width: 18px;
  border-radius: 2px;
  margin-right: 5px;
  padding: 1px;
  white-space: nowrap;
  color:#999999;
  border:1px solid;
  margin-top:10px;
}
.usetime{
  background: #efefef;
  line-height:30px;
  font-size:12px;
  margin-top:10px;
  color: rgba(14, 14, 14, 0.24);
  width: 100%;
  clear: both;
  background: darkred;
}
.usetime span{
  color:#000;
  font-size:12px;
  line-height: 30px;
  background: #efefef;
  margin-bottom: 20px;
}
.usetime span:nth-child(1){
display: block;
  width:40%;
  float: left;
}
.usetime span:nth-child(2){
float: left;
  color: rgba(14, 14, 14, 0.24);
}
.usetime span:nth-child(3){
  display: block;
  width:57%;
  float: left;
}
.article{
  text-align: left;
  font-size: 12px;
  line-height: 22px;
  color: #666;
  padding-bottom: 20px;
}
.pop .iconthree{
  margin-top:10px;
  margin-bottom: 57px;
}

.pop .iconthree i{
  float: left;
  margin-top:0;
}
.pop .iconthree span{
  float: left;
  display: block;
  width: 89%;
  line-height: 18px;
}
.rstblock:nth-child(4n) .pop{
  position: absolute;
  left:-90%!important;
  top:0!important;
}