*{
  margin:0;
  padding:0;
}
html,body{
    font-family: '微软雅黑';
}
a{
  text-decoration: none;
  color:#000;
}
img{
  display: block;
}
li{
  list-style: none;
}
.store{
  width:1056px;
  border: 1px solid #e6e6e6;
  margin:0 auto;
  position: relative;
  line-height: 26px;
  padding: 10px 10px 10px 7em;
  background-color: #fff;
  height:auto;
}
.excavator-filter-name{
  position: absolute;
  left: 10px;
  top: 13px;
  color: #999;
  padding: 0 10px;
  margin-right: 8px;
  font-size: 14px;
}
.store .list-bottom .active{
  background-color: #0089dc;
  color: #fff;
  border-radius: 3px;
}
.excavator-filter-item {
  white-space: nowrap;
  display: inline-block;
  margin: 5px 6px;
  text-align: left;;
  font-size: 14px;
  padding: 0 10px;
   color: #666;
  float: left;
}
.list-bottom a{
  margin: 5px 6px;
  text-align: left;;
  font-size: 14px;
  padding: 0 10px;
  color: #666;
  display: inline-block;
}
.store .list-top{
  height:36px;
  width:100%;
  margin-left: -20px;
}
.store .list-top:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.store .list-bottom {
  text-align: left;
  margin-left: -20px;
  ;
}
.changecolor:nth-child(1){
  background:#0089dc;
  color:#fff;
}